[buildout]
extends = http://dist.plone.org/release/4.1b1/versions.cfg
develop = .
parts =
    test

unzip = true
versions = versions

[versions]
Products.CMFEditions = 2.1.2

[test]
recipe = zc.recipe.testrunner
eggs = Products.CMFEditions
       Products.CMFEditions [test]
